<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
      <div>
        <%= link_to t(".privacy"), "#" %>
        &middot;
        <%= link_to t(".terms"), "#" %>
      </div>
    </div>
  </div>
</footer>
