<div class="nested-fields">
  <%= f.text_field :url, class: "form-control", placeholder: t(".placeholder_image") %>
  <%= f.check_box :_destroy, {}, "true", "false" %>
  <%= link_to_remove_association t(".remove_image"), f %>
</div>
